section {
  .list-group-item {
    font-size: 1.1rem;
    &:hover {
      background-color: #f8f9fa;
    }
    i {
      font-size: 1.5rem;
      color: #0d6efd;
    }
  }

  form {
    input, textarea {
      border-radius: 0.5rem;
    }
    button {
      padding: 0.6rem 2rem;
      border-radius: 0.5rem;
    }
  }
}
